.sidebar {
  background-color: var(--dark-background);
  /* padding: 0.5rem; */
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
.user-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}

.sidebarHeader {
  border-bottom: 2px solid white;
}
.userGroupsList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.userGroupsList li {
  /* background-color: rgb(53, 99, 140); */
  color: var(--fc-secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}
.userGroupsList :hover {
  background-color: rgb(35, 35, 35);
  cursor: pointer;
}

.userGroupsList img {
  max-width: 3rem;
  border-radius: 50%;
}
.pencil-icon {
  color: white; /* Change color */
  font-size: 24px; /* Change size */
  cursor: pointer; /* Change cursor to pointer on hover */
  /* margin-right: 10px; Add margin if needed */
  transition: color 0.3s ease; /* Optional: Smooth color transition */
}

.add-group {
  background-color: var(--dark-background-100);
  border: none;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease; /* Optional: Smooth color transition */
}

.add-group:hover {
  background-color: hsl(0, 0%, 37%);
}
