.sidebar {
  background-color: var(--dark-background);
  /* padding: 0.5rem; */
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
.user-list li {
  background-color: green;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}
