.groupsPopup__user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-height: 300px;
  overflow-y: scroll !important;
}
.groupsPopup__user-list li {
  /* background-color: rgb(53, 99, 140); */
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid rgba(160, 160, 160, 0.304);
}

.groupsPopup__user-list li:hover {
  cursor: pointer;
  background-color: rgb(74, 74, 74);
}
.groupsPopup__user-list li img {
  max-width: 4rem;
  border-radius: 50%;
}

.addChatWrapper {
  color: red;
  /* z-index: 998; */
}
.addChatWrapper:hover {
  color: green;
}

/* .addChat */
.groupPopup {
  position: absolute;
  top: 5rem;
  background-color: var(--dark-background-100);
  width: 20rem;
  height: 25rem;
  border-radius: 3rem;
  padding: 1rem;
}
.groupPopup h2 {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(156, 156, 156, 0.392);
}

.groupsSearch {
  /* background-color: green; */
  width: 100%;
}
.groupsSearch {
  color: var(--fc-secondary);
}
.groupsSearch input {
  background-color: transparent;
  width: 85%;
  outline: none;
  border: none;
  color: white;
}
.mobileHeader {
  display: none;
}
@media (max-width: 768px) {
  .groupsSearch {
    height: 100%;
  }
  .mobileHeader {
    display: grid;
    background-color: var(--dark-background);
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1rem 1rem 0 0;
  }
  .mobileHeader .cancelButton {
    grid-column: 1;
    color: var(--clr-primary-400);
  }
  .mobileHeader span {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    grid-column: 2;
    color: white;
  }
  .searchInput {
    /* background-color: red; */
    margin: 1rem;

    /* background-color: var(--darker-background); */
  }
  .groupPopup {
    position: static;
    background-color: transparent;
    background-color: var(--darker-background);
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    width: 100%;
  }
  .groupPopup h2 {
    display: none;
  }
}
